:root {
	--anchor: #e3b732;
	--anchor-hover: #e09900;
	--black: #000000;
	--body-bg: #c7c7c7;
	--white: #ffffff;
	--white-hover: #635f5f;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style-type: none;
}

button {
	background-color: transparent;
	padding: 0;
	border: 0;
	cursor: pointer;
}

body {
	font-family: sans-serif;
	background-color: var(--body-bg);
}

.box {
	display: flex;
	justify-content: center;
	padding-top: 100px;
}

.tooltip__container {
	position: relative;
}

.tooltip__anchor {
	padding: 10px 45px;
	border-radius: 10px;
	transition: all 0.2s ease-in-out;
	border: 2px solid var(--black);
	background-color: var(--anchor);
	color: var(--white);
}

.tooltip__anchor:hover {
	background-color: var(--anchor-hover);
	color: var(--white-hover);
}

.tooltip__anchor:focus,
.tooltip__anchor:focus-visible{
	outline: none;
	border: 2px solid var(--white);
}

.tooltip {
	position: absolute;
	bottom: calc(100% + 14px);
	left: 50%;
	translate: -50% 0;
	width: max-content;
	padding: 10px 30px;
	background-color: var(--white);
}

.tooltip:after {
	content: '';
	position: absolute;
	border: 7px solid transparent;
	bottom: -14px;
	left: 50%;
	translate: -50% 0;
	border-top-color: var(--white);
}

.hidden {
	visibility: hidden;
}
